.row.footer-media
  .four.columns
    h3 Currently Seeing
      i.icon-camera
    if locals.footerContent.image
      .row.image-row
        .columns.centered.nine
          a.ttip(href=locals.footerContent.image.href, target='_blank', data-tooltip=locals.footerContent.image.date_formatted)
            img.image.photo(src=locals.footerContent.image.src, alt='Latest from Instagram')
    else
      p Nothing to report

  .four.columns
    h3 Currently Watching
      i.icon-play
    if locals.footerContent.movie
      .row.image-row
        .columns.centered.nine
          a.ttip(href=locals.footerContent.movie.href, target='_blank', data-tooltip='Recently')
            img.image.photo(src=locals.footerContent.movie.src, alt='Recently')
    else
      p Nothing to report

  .four.columns
    h3 Currently Listening
      i.icon-note-beamed
    if locals.footerContent.track
      .row.image-row
        .columns.centered.nine
          a.ttip(href=locals.footerContent.track.href, target='_blank', data-tooltip=locals.footerContent.track.date_formatted)
            img.image.photo(src=locals.footerContent.track.imageSrc, alt='Track ' + locals.footerContent.track.name)
    else
      p Nothing to report
