extends layouts/main

block content
  .row
    .large-12.columns
      h1.main-page-title=locals.pageTitle

  .row
    .large-12.columns
      p: img(src='/images/content/blog/wide/' + locals.post.slug + '.jpg', alt=locals.post.title, itemprop='image')

      if locals.post.tags && locals.post.tags.length
        ul.labels
          each tag in locals.post.tags
            li.label.secondary.round= tag

      if locals.post.copy && locals.post.copy.length
        #main_post_content
          each paragraph in locals.post.copy
            p.clearfix!= paragraph

      if locals.post.gistURL
        script(src=locals.post.gistURL)

      if locals.post.demoURL
        p: a(href=locals.post.demoURL) See the full demo with source code.
